.gold-layout {
  background-color: rebeccapurple;
}
.gold-layout nav,
.gold-goal .navbar-brand {
  background-color: rgb(255, 187, 40);
  color: rebeccapurple !important;
}

.light-layout {
  background-color: rgb(240, 239, 239);
}
.light-layout nav,
.light-goal .navbar-brand {
  background-color: dodgerblue;
}

.dark-layout {
  background-color: rgb(36, 36, 36);
}
.dark-layout nav,
.dark-goal .navbar-brand {
  background-color: red;
}
